mixin promo() 
	+b.SECTION.promo
		.wrap
			+e.info
				h1(class="wow fadeInLeft", data-wow-duration="1s" data-wow-delay=".3s") Блокировочный замок
				p(class="wow fadeInLeft", data-wow-duration="1s" data-wow-delay=".5s") У нас Вы найдете одноключевые, двухключевые, трехключевые и четырехключевые механические замки, поворотный замок, электромагнитный замок.
				a.btn(href="#", class="wow fadeInLeft", data-wow-duration="1s" data-wow-delay=".7s") Перейти в каталог
			+e.banner(class="wow fadeIn", data-wow-duration="1s" data-wow-delay=".3s")
				img(src="img/promo__banner.png", alt="")