mixin product-slider() 
	+b.product-slider
		+e.for
			+e.for-item
				a(href="img/product-1.jpg")
					img(src="img/product-1.jpg", alt="")
			+e.for-item
				a(href="img/product-2.jpg")
					img(src="img/product-2.jpg", alt="")
			+e.for-item
				a(href="img/product-1.jpg")
					img(src="img/product-1.jpg", alt="")
			+e.for-item
				a(href="img/product-2.jpg")
					img(src="img/product-2.jpg", alt="")
			+e.for-item
				a(href="img/product-2.jpg")
					img(src="img/product-1.jpg", alt="")
			+e.for-item
				a(href="img/product-2.jpg")
					img(src="img/product-2.jpg", alt="")
		+e.nav
			+e.nav-item
				img(src="img/product-sm-1.jpg", alt="")
			+e.nav-item
				img(src="img/product-sm-2.jpg", alt="")
			+e.nav-item
				img(src="img/product-sm-3.jpg", alt="")
			+e.nav-item
				img(src="img/product-sm-4.jpg", alt="")
			+e.nav-item
				img(src="img/product-sm-5.jpg", alt="")