.checkbox {

	&--black {

		input + label {

			&::before {
				border: 1px solid $black;
			}

			&::after {
				color: $black;
			}
		}
	}

	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		visibility: hidden;

		& + label {
			position: relative;
			padding-left: 30px;
			padding-top: 3px;
			font-size: 1.4rem;
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 16px;
				height: 16px;
				border: 1px solid $white;
				background-color: transparent;
				@include trs;
			}

			&::after {
				content: '\2714';
				position: absolute;
				top: 2px;
				left: 3px;
				color: #ffffff;
				opacity: 0;
				font-size: 1.5rem;
				opacity: 0;
				@include trs;
			}
		}

		&:checked + label {

			&::before {
				
			}

			&::after {
				opacity: 1;
			}
		}
	}
}