extends ../layout/layoutBase.pug

include ../../blocks/header/header
include ../../blocks/slider-img/slider-img
include ../../blocks/card-indicators/card-indicators
include ../../blocks/footer/footer

block content
	- var page = 'about';

	+b.about-page
		+header()
		.bread-crumbs 
			.wrap
				ul
					li
						a(href="#") Главная  
					li 
						span /   
					li
						span О компании
		.wrap
			h2 О компании
			+b.about-slider
				+e.inner
					+e.col
						+e.banner--left
							+slider-img('img/company.jpg')
					+e.col
						+e.info
							p Наша компания изготавливает блокировочные замки для энергообъектов и предприятий Российской Федерации, стран СНГ, а также на экспорт в качестве комплектующего изделия в составе электроподстанций.
							p У нас Вы найдете одноключевые, двухключевые, трехключевые и четырехключевые механические замки, поворотный замок, электромагнитный замок.
							p Помимо блокировочных замков, мы предлагаем Вам обменные рейки с возможностью установки от 3х до 12ти запираемых замков и от 1го до 4х запирающих замков соответственно.
		
			h2 Основные показатели
			+e.list
				+card-indicators('3 500', 'деталей производится <br> в месяц')
				+card-indicators('<span>с</span> 2001г.', 'опыт <br> работы ')
				+card-indicators('1-2', 'недели - срок <br>и сполнения заказа ')
				+card-indicators('100 <img src="img/icons/clients.svg", alt="">', 'довольных <br> клиентов')

			+e.factory
				+b.about-slider
					+e.inner
						+e.col
							+e.info
								h2 Собственное производство
								p Наша компания изготавливает блокировочные замки для энергообъектов и предприятий Российской Федерации, стран СНГ, а также на экспорт в качестве комплектующего изделия в составе электроподстанций.
								p У нас Вы найдете одноключевые, двухключевые, трехключевые и четырехключевые механические замки, поворотный замок, электромагнитный замок.
								p Помимо блокировочных замков, мы предлагаем Вам обменные рейки с возможностью установки от 3х до 12ти запираемых замков и от 1го до 4х запирающих замков соответственно.
						+e.col
							+e.banner
								+slider-img('img/advantage__slider-banner.jpg')
		+footer()

	