.bread-crumbs {
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: $black;

	li {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	a {
		@include trs;

		&:hover {
			color: $blue;
		}
	}
}